
div{
  text-align: center;
  margin: 30px;
}
hr{
  width: 40%
}
button{
  width: 130px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding: 6px;
  margin: 3px;
  background-color:  rgb(210, 210, 210);
  color: rgb(70, 70, 70);
  border: none;
  border-radius: 8px;
}
button:hover, button:focus, button:active,{
  background-color: rgb(65, 65, 203);
  color: white;
  box-shadow: 0px 5px 15px rgba(114, 114, 250, 0.141);

}
